<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Clientes</title>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/gplyphicon.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <partial name="_MenuSuperior" />
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-2">
                    <partial name="_MenuLateral" />
                </div>
                <div class="col-10">
                    <partial name="_HomeTitulo" />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <partial name="_Rodape" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>