@{
    ViewData["Title"] = "Contato";
}

<div class="hero-unit">
    <h2 class="mt-2 p-2 titulo-secao">Contato</h2>
</div>

<div class="row">
    <div class="col-xl-12 contato">
        <div class="mt-4"><span class="contato-nome">Nome: </span>Renan E. Gobbi</div>
        <div><span class="contato-email">E-mail: </span>renaneg@hotmail.com</div>
    </div>
</div>
